# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.egg
*.egg-info/
dist/
build/

# Java
*.class
*.jar
*.war
*.ear
*.log
*.tmp
*.bak
target/
out/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# VS Code
.vscode/
.history/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
*.log

# Environment Files
.env
.env.*

# Coverage
coverage/
*.lcov

# Jupyter Notebooks
.ipynb_checkpoints

# SQLite
*.sqlite3
*.db

# Others
*.swp
*.swo
*.bak
*.tmp
